{% extends "home.html" %}

{% block content %}

<body>
    <!-- Start your project here-->
    <section style="background-color:#e7f2ff; height: 100vh;">
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-4">
                    <div class="card mb-4">
                        <div class="card-body text-center">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp"
                                alt="avatar" class="rounded-circle img-fluid" style="width: 70px;">
                            {% if current_user.is_verif != 1 %}
                            <h5 class="my-3">{{ current_user.username }}</h5>
                            <div class="card-text"><a data-toggle="modal" data-target="#exampleModal"
                                    href="#exampleModal">Verifikasi</a>
                                akunmu untuk pesan tiket</div>
                            {% else %}
                            <!-- <div class="card-text">Akunmu sudah diverifikasi</div> -->
                            <h5 class="my-3">{{ current_user.username }}<img class="ms-2" width="25px" height="25px"
                                    src="static/verified.png" alt=""></h5>
                            {% endif %}
                            <p class="text-muted mb-1">{{ current_user.email }}</p>
                            <p class="text-muted mb-4">{{ current_user.address }}</p>

                            <div class="d-flex justify-content-center mb-2">
                                <a href="{{ url_for('auth.logout') }}" class="btn btn-outline-primary ms-1">Logout</a>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-4 mb-lg-0">
                        <div class="card-body">
                            <ul class="list-group list-group-flush rounded-5">
                                <a href="/profile">
                                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                        <p class="mb-0">Pusat Akun</p>
                                        <i class="fas fa-lg fa-solid fa-user" style="color: #74C0FC;"></i>
                                    </li>
                                </a>
                                <a href="/orders">
                                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                        <p class="mb-0">Order History</p>
                                        <i class="fas fa-lg fa-clock"></i>
                                    </li>
                                </a>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Username</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{ current_user.username }}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Email</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{ current_user.email }}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Phone</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">(097) 234-5678</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Mobile</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">(098) 765-4321</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Address</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{ current_user.address }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Privacy & Policy</h1>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h2 class="fs-bold">
                        Syarat & Ketentuan penggunaan dan kebijakan privasi X-Ticket App
                    </h2>
                    <p>
                        Syarat & Ketentuan penggunaan dan kebijakan privasi X-Ticket App merupakan ketentuan yang
                        harus dibaca, dipahami, dan disetujui oleh pengguna sebelum mengakses atau menggunakan aplikasi
                        X-Ticket App

                    </p>
                    <div class="form-check ms-2">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Setuju & Lanjutkan
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                    <a class="btn btn-primary" href="{{ url_for('views.vfdataset_page', id=current_user.id) }}">Next</a>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}