<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>X-Ticket App</title>
    <link rel="stylesheet" href="../static/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../static/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="../static/style.css" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>

<body>
    <div class="row justify-content-center">
        <div class="col-sm-7 col-md-5 col-lg-5 col-xl-5 nh-service-card-img d-flex align-items-center justify-content-center"
            style="object-fit: cover; width: 100%; height: 100%;">
            <div class="image-wrapper mt-3 mb-5" style="aspect-ratio: 1; position: relative;">
                <p class="text-center mt-5 fs-3">Please verification to continue</p>

                <!-- <video id="video" width="300" height="300" autoplay style="background-color: grey"></video>
                <button id="send">Take & Send Photo</button>
                <canvas id="canvas" width="640" height="480" style="background-color: grey"></canvas> -->
                <!-- <img id="" src="{{url_for('views.vidfeed_dataset', nbr=id)}}" class="rounded-circle"> -->
                <video id="capture" width="150" height="150" autoplay></video>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-3 lg-2">
            <a class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2"
                href="{{ url_for('views.train_classifier', nbr=id) }}">
                Submit </a>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const videoElement = document.getElementById('capture');

            const URL_BACKEND = "/vfdataset_page/"; // Endpoint yang sama di Flask

            fetch(URL_BACKEND)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.blob(); // Mengambil blob dari respons
                })
                .then(blob => {
                    videoElement.src = URL.createObjectURL(blob); // Membuat URL objek untuk blob
                })
                .catch(error => {
                    console.error('Error fetching video stream:', error);
                });
        });

    </script>

    <!-- <script>

        // Elements for taking the snapshot
        var video = document.getElementById('video');

        // Get access to the camera!
        if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
            // Not adding `{ audio: true }` since we only want video now
            navigator.mediaDevices.getUserMedia({ video: true }).then(function () {
                // video.src = window.URL.createObjectURL(stream);
                video.srcObject = stream;
                video.play();
            });
        }


    </script> -->


</body>

</html>